.rounded-container {
  border-radius: 15px;
  padding: 15px 25px;
  width: 100%;
  margin-top: 50px;
  background-color: #1e1f24;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.navbar-bg {
  background-color: #1e1f24 !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.rounded-container p {
  margin: 0;
  font-size: 0.8rem;
}

.rounded-container span {
  color: #ff5151;
}

.nav-container {
  text-align: center;
}

.navbar-brand {
  color: #d4d8e3 !important;
}

.navItem {
  padding: 5px 15px;
  color: #d4d8e3;
  text-decoration: none;
  font-size: 0.8rem;
}

.active {
  background-color: #D6FF29 !important;
  border-radius: 10px;
  color: #1e1f24;
}